body, * {
  margin: 0;
  padding: 0;
  background: blue;

}
/* width 가로값, height 세로값, backgound , margin 외부여백 */

.container {
  width: 1400px;
  height: 801px;
  margin: auto;
}

.header {
  background: white;
  width: 1200px;
  height: 52px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.main {
  background: white;
  width: 1200px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  gap: 70px;
  
}

.content-1 {
  background: black;
  width: 601px;
  height: 360px;
  flex: 1;
  margin-left: 0;
  margin-top: 20px;
}

.content-2 {
  background: black;
  width: 601px;
  height: 400px;
  flex: 1;
}

.footer {
  background: white;
  width: 1120px;
  height: 50px;
  margin-top: 80px;
  margin-left: 141px;
  margin-right: 141px;
}