body, * {
  margin: 0;
  padding: 0;
  background: black;
}
/* width 가로값, height 세로값, backgound , margin 외부여백 */

.header {
  width: 1200px;
  height: 42px;
  background: white;
  margin: 100px;
  margin-top: 56px;
  margin-bottom: 50px; 
}

.content {
  width: 1200px;
  height: 423px;
  background: white;
  margin: 0 100px;
  margin-bottom: 50px;
}

.footer {
  width: 1173px;
  height: 93px;
  background: white;
  margin-top: 0px;
  margin: 0 113px;
}